/* Css global - de tota a aplicação  */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(243, 231, 229);
    
    
}


.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    border: solid black 0.2rem;  
    box-shadow: 0rem 0rem 2rem rgb(240, 138, 138);                              

}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

