.pokemons {
    display: grid;
    grid-template-columns: 1fr ;

    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon  {
    display: flex;
    flex-direction: column;

    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    
    background-color: #1ccaa9;
    color: white;


}

/* Cor por tipos  */

.normal{ background-color: #b7b8aa;}

.grass {background-color: #8bd750}

.fire { background-color: #fb5643}

.water {background-color: #55aefe}

.fighting{background-color: #9e4c37}

.flying{background-color:  #7da2fd;}

.poison{background-color:  #a85da0;}

.ground{ background-color: #f0cd55;}

.rock {background-color: #cebc72;}

.bug {background-color: #c3d21f;}

.ghost {background-color: #7973d3;}

.electric {background-color: #fee739;}

.psychic {background-color:  #fe62b3;}

.ice {background-color:  #95f1fe;}

.dragon{background-color:  #8974fd;}

.dark {background-color: #8f6a57;}

.steel {background-color: #c4c2da;}

.fairy {background-color: #faadff;}

/* --------------------------- */

.pokemon .name {
    text-transform: capitalize;
    margin:  0;

    color: #fff;
}

.pokemons .number {
    opacity: .3;
    text-align: right;
    font-size: .625rem;

    color: black;


}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .pokemon .detail img {      /* imagem  */
    max-width: 100%;
    height: 70px;
}

.pokemon .detail .types {

    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem;
    font-size: .625rem;
    text-align: center;

    filter: brightness(1.1);
    color: #fff;

}



/*       Responsividade             */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.pagination  button{
    border: 0;
    border-radius: 1rem;
    padding: .25rem .5rem;
    font-size:.25rem 0 ;

    background-color: #4b538e;
    color: #fff;

}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}